<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="javascript.js"></script>
    <title>Forum</title>
</head>
<body id="body" onscroll="header()">
    <header id="header" onmouseover="header2()" onmouseout="header3()">
        <a href="forum.html"><img id="logo" src="https://assets.website-files.com/61ed56ae9da9fd7e0ef0a967/61f12ec2e784a6708ebf43fe_WavelessDefault.svg"></a>
        <div id="headerbuttons"><a href="createpost.html" id="createpost">Create post</a>
        <div id="user">
            <img src="https://cdn-icons-png.flaticon.com/512/1144/1144760.png" id="avatar" class="likeicon"></img>
            <span id="username">Username</span>
        </div>
    </header>
   <div>
    <div class="post">
       <img src="userimage.png" id="profileimage"></img>
       <div id="userinfo">
        <span>Username:</span><br><br>
        <span>Email:</span><br><br>
        <span>Account created:</span><br><br>
       </div>
    </div>
   </div>
    <footer id="footer">
        <p id="footertext">Created with love in 2023</p>
    </footer>
</body>
</html>